{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1><a href="{{ path('app.game_overview') }}">Games</a> | <span>{{ game.name }}</h1>

            <p class="game-state"><label>State:</label> {{game.state}}<p>

            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}

            {% if game.currentTurn %}
            <h2>Current turn</h2>
            <p class="current-turn">
                Turn number <span class="turn-number">{{ game.currentTurn.number }}</span>. 
                Player <span class="player-number">{{ game.currentTurn.currentPlayerNumber }}</span> has to move.
            </p>
            {% endif %}

            <h2>Players</h2>
            {% if game.players %}
            <ul class="players">
                {% for player in game.players %}
                <li class="player {% if game.currentTurn and player.number == game.currentTurn.currentPlayerNumber %}active{% endif%}">
                    <a class="detail-link" href="{{ path('app.player_detail', {'gameId': game.id, 'playerNumber': player.number}) }}"
                        >Player {{ player.number }}</a
                    >
                    (<span class="stone-count">{{ player.stones|length }}<span> stones)
                    {% if game.currentTurn and player.number == game.currentTurn.currentPlayerNumber %}*{% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}