{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1><span>{{ game.name }}</h1>

            <p class="game-state"><label>State:<label> {{game.state}}<p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% if canDeal  %}
                <input type="submit" name="deal-game" value="Deal" class="btn btn-default pull-right" />
            {% endif %}
            {{ form_end(form) }}

            <h2>Players</h2>
            {% if game.players %}
            <ul class="players">
                {% for player in game.players %}
                <li class="player">Player {{ player.number }} (<span class="stone-count">{{ player.stones|length }}<span> stones)</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}