{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
	    <h1><span>Games</h1>
            <div class="game-list">
                {% if games %}
                  <ul>
                    {% for game in games %}
                      <li><a href="/game/{{ game.id }}">{{ game.name|e }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}

                {% if not games %}
                <p>No games are available.</p>
                {% endif %}
            </div>
            <h2>Create a new Game</h2>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" name="create-game" value="Create" class="btn btn-default pull-right" />
            {{ form_end(form) }}
	</div>
    </div>
{% endblock %}